

<nz-row [nzGutter]="[24,28]">
  <nz-col [nzSpan]="24">
    <div class="colum-bgr flex-column">
      <div class="filter-search">
        <nz-select class="filter-select" ngModel="lucy" [(ngModel)]="optionSearch" [nzSize]="sizeBt">
          <nz-option nzValue="all" nzLabel="All"></nz-option>
          <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
          <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
        </nz-select>
      </div>
      <div class="input-search" >
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" [nzSize]="sizeBt">
          <input type="text" nz-input placeholder="search" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch class="bt-search"><span nz-icon nzType="search"></span></button>
        </ng-template>
      </div>
    </div>
  </nz-col>
  <nz-col [nzSpan]="24">
    <nz-table
  [nzData]="listOfRandomUser"
  [nzLoading]="loading"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
>
  <thead>
    <tr>
      <th nzColumnKey="name" [nzSortFn]="true">Name</th>
      <th nzColumnKey="gender" [nzSortFn]="true">Gender</th>
      <th nzColumnKey="email" [nzSortFn]="true">Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfRandomUser">
      <td>{{ data.name.first }} {{ data.name.last }}</td>
      <td>{{ data.gender }}</td>
      <td>{{ data.email }}</td>
      <td> <button  class="button-view" nz-button nzType="primary" (click)="openModalView()" >View</button></td>
    </tr>
  </tbody>
</nz-table>
  </nz-col>
</nz-row>

<nz-modal [(nzVisible)]="isVisible" nzTitle="" (nzOnCancel)="handleCancel()" [nzFooter]="modalFooter">
  <ng-container *nzModalContent>
    <h3>🌐 Rumble.com Video Views [Real & Active] [Worldwide] 🛑
      ★ Rumble.com - Worldwide Views</h3>

    <p> ⏱ Estimated Start: 30 Minutes</p>
    <p>⚡ Speed 5,000+ Views per day</p>
    <p>🔐 Non-Drop</p>
    <p>✔️ Views may include REAL User Engagements!</p>
    <p>- Link Format:</p>
    <p>https://rumble.com/vrhf44-playful-sea-lion-acts-jealous-when-marine-iguana-gets-attention.html</p>
    <p>🛑 Cancel Button Available  </p>

  </ng-container>
  <ng-template #modalFooter>
    <button class="bt-create-order" nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Create Order</button>
  </ng-template>
</nz-modal>
