<nz-row [nzGutter]="[24, 28]">
  <nz-col [nzSpan]="12">
    <div class="colum-bgr flex-column">
      <div class="icon">
        <span class="material-symbols-outlined"> all_inbox </span>
      </div>
      <nz-statistic
        [nzValue]="(10806856 | number)!"
        [nzTitle]="'Total Orders'"
      ></nz-statistic>
    </div>
  </nz-col>
  <nz-col [nzSpan]="12">
    <div class="colum-bgr flex-column">
      <div class="icon">
        <span class="material-symbols-outlined"> book </span>
      </div>
      <nz-statistic
        [nzValue]="(3884 | number : '1.0-2')!"
        [nzTitle]="'Available Services'"
      ></nz-statistic>
    </div>
  </nz-col>
</nz-row>
<nz-row [nzGutter]="[24, 28]">
  <nz-col [nzSpan]="24">
    <div class="colum-bgr">
      <form
        nz-form
        [formGroup]="validateForm"
        class="login-form"
        (ngSubmit)="submitForm()"
        [nzLayout]="'vertical'"
        class="form-login"
      >
        <nz-form-item>
          <nz-form-label nzFor="username">Username</nz-form-label>
          <nz-form-control>
            <input
              type="text"
              nz-input
              formControlName="username"
              nzSize="large"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="email">Email</nz-form-label>
          <nz-form-control>
            <input
              type="text"
              nz-input
              formControlName="email"
              nzSize="large"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="currentPassword">Current password</nz-form-label>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixTemplateCurrent" nzSize="large">
              <input
                [type]="currentPasswordVisible ? 'text' : 'password'"
                nz-input
                formControlName="currentPassword"
                placeholder="Current password"
              />
            </nz-input-group>
            <ng-template #suffixTemplateCurrent>
              <span
                nz-icon
                [nzType]="currentPasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="currentPasswordVisible = !currentPasswordVisible"
              ></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <button
          nz-button
          class="button-submit-from button-change"
          [nzType]="'primary'"
          nzSize="large"
        >
          Change Email
        </button>
        <nz-form-item>
          <nz-form-label nzFor="password">New password</nz-form-label>
          <nz-form-control>
            <nz-input-group [nzSuffix]="suffixTemplateNew" nzSize="large">
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                formControlName="password"
                placeholder="Password"
                (ngModelChange)="updateConfirmValidator()"
              />
            </nz-input-group>
            <ng-template #suffixTemplateNew>
              <span
                nz-icon
                [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                (click)="passwordVisible = !passwordVisible"
              ></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="checkPassword">Confirm new password</nz-form-label>
          <nz-form-control [nzErrorTip]="errorTpl">
            <nz-input-group [nzSuffix]="suffixTemplateConfirm" nzSize="large">
              <input
                [type]="checkPasswordVisible ? 'text' : 'password'"
                nz-input
                formControlName="checkPassword"
                placeholder="Password"
                (ngModelChange)="updateConfirmValidator()"
              />
            </nz-input-group>
            <ng-template #suffixTemplateConfirm>
              <span
                nz-icon
                [nzType]="checkPasswordVisible ? 'eye-invisible' : 'eye'"
                (click)="checkPasswordVisible = !checkPasswordVisible"
              ></span>
            </ng-template>
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="control.hasError('required')"
                >Please confirm your password!</ng-container
              >
              <ng-container *ngIf="control.hasError('confirm')">
                Two passwords that you enter is inconsistent!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <button
          nz-button
          class="button-submit-from button-change"
          [nzType]="'primary'"
          nzSize="large"
        >
          Change Password
        </button>

        <button
          nz-button
          class="button-submit-from button-change"
          [nzType]="'primary'"
          nzSize="large"
        >
          Submit
        </button>
        <nz-row [nzGutter]="[24, 28]" class="flex-column">
          <nz-col [nzSpan]="22">
            <nz-form-item>
              <nz-form-label nzFor="language"
                >Language</nz-form-label
              >
              <nz-form-control>
                <nz-select formControlName="language" nzSize="large">
                  <nz-option nzValue="en" nzLabel="English US"></nz-option>
                  <nz-option nzValue="vi" nzLabel="VN"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col [nzSpan]="2">
            <button
          nz-button
          class="button-submit-from"
          [nzType]="'primary'"
          nzSize="large"
        >
          Save
        </button>
          </nz-col>
        </nz-row>
        <nz-row [nzGutter]="[24, 28]" class="flex-column" >
          <nz-col [nzSpan]="22">
            <nz-form-item>
              <nz-form-label nzFor="timezone"
                >Timezone</nz-form-label
              >
              <nz-form-control>
                <nz-select formControlName="timezone" nzSize="large">
                  <nz-option nzValue="en" nzLabel="English US"></nz-option>
                  <nz-option nzValue="vi" nzLabel="VN"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col [nzSpan]="2">
            <button
          nz-button
          class="button-submit-from"
          [nzType]="'primary'"
          nzSize="large"
        >
          Save
        </button>
          </nz-col>
        </nz-row>
        <nz-row [nzGutter]="[24, 28]" class="flex-column">
          <nz-col [nzSpan]="20">
            <nz-form-item>
              <nz-form-label nzFor="apiKey"
                >API key</nz-form-label
              >
              <nz-form-control>
                <input
              type="text"
              nz-input
              formControlName="apiKey"
              nzSize="large"
            />
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col [nzSpan]="4">
            <button
          nz-button
          class="button-submit-from"
          [nzType]="'primary'"
          nzSize="large"
        >
          Generate New
        </button>
          </nz-col>
        </nz-row>
      </form>
    </div>
  </nz-col>
</nz-row>
