:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  height: 100vh;
  position: sticky;
  top: 0;
}

// .ant-layout {
//   background: #252427;
// }

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #ff8355;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  background: #373539;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 4%);
  color: #fff;
}

::ng-deep nz-select.ant-select.filter-select {
  color: #fff;
  nz-select-top-control.ant-select-selector {
    background-color: #ff8355 !important;
    border: none !important;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 12px !important;
    height: unset !important;
    border-radius: 8px !important;
  }
  .ant-select-arrow {
    color: #fff;
    font-size: 16px;
  }
}

a {
  color: #fff;
}
a:hover {
  color: #ff8355;
}
.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  display: flex;
}

nz-content {
  padding: 24px;
  background: #252427;
}

// .inner-content {
//   padding: 24px;
//   background: #fff;
//   height: 100%;
// }

.flex-header {
  flex: 1;
  text-align: right;
  padding: 0 25px;
  .item-header {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

// ant-statistic
::ng-deep .ant-statistic {
  display: grid;
  text-align: center;
  .ant-statistic-title {
    order: 2;
    margin-bottom: 0;
    font-size: 20px;
    color: #fff;
  }
  .ant-statistic-content {
    order: 1;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #ff8355;
    text-align: left;
  }
}
// end ant-statistic

nz-input-group {
  input {
    padding: 5px 12px;
  }
}

::ng-deep nz-input-group.ant-input-affix-wrapper:hover,
::ng-deep nz-input-group.ant-input-affix-wrapper-lg {
  border: none;
  padding: 0;
  border-radius: 8px;
  background-color: #252427;
  color: #fff;
  border-color: unset !important;
  box-shadow: unset !important;
  input {
    padding: 5px 12px !important;
    height: 46px;
    border-radius: 8px !important;
    background-color: #252427;
    color: #fff;
  }
}

::ng-deep
  nz-input-group.ant-input-affix-wrapper:not(
    .ant-input-affix-wrapper-disabled
  ):hover {
  border: none;
  z-index: 1;
  padding: 0;
  border-radius: 8px;
  background-color: #252427;
  color: #fff;
  input {
    padding: 5px 12px;
    height: 46px;
    border-radius: 8px !important;
    background-color: #252427;
    color: #fff;
  }
}

::ng-deep .ant-form-item-label > label {
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

::ng-deep .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: unset;

  color: #fff;
}
::ng-deep .ant-select:not(.filter-select),
::ng-deep .ant-input {
  border-color: unset;
  background-color: #252427;
  color: #fff;
  border: unset !important;
  box-shadow: unset !important;
}

::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #252427;
  border: unset;
}

::ng-deep
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: unset;
  box-shadow: unset;
}




