<nz-row [nzGutter]="[24, 28]">
  <nz-col [nzSpan]="24">
    <div class="colum-bgr">
      <form
        nz-form
        [formGroup]="validateForm"
        class="login-form"
        (ngSubmit)="submitForm()"
        [nzLayout]="'vertical'"
        class="form-login"
      >
        <nz-form-item>
          <nz-form-label nzFor="category">Category</nz-form-label>
          <nz-form-control>
            <nz-select nzSize="large" formControlName="category">
              <nz-option nzValue="male" nzLabel="male"></nz-option>
              <nz-option nzValue="female" nzLabel="female"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="subject">Subject</nz-form-label>
          <nz-form-control>
            <input
              type="text"
              nz-input
              formControlName="subject"
              nzSize="large"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="attachment">Attachment</nz-form-label>
          <nz-form-control>
            <input
              type="text"
              nz-input
              formControlName="attachment"
              nzSize="large"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="message">Message</nz-form-label>
          <nz-form-control>
            <textarea
              nz-input
              formControlName="message"
              [nzAutosize]="{ minRows: 4, maxRows: 8 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
        <button
          nz-button
          class="button-submit-from"
          [nzType]="'primary'"
          nzSize="large"
        >
          Submit
        </button>
      </form>
    </div>
  </nz-col>
  <nz-col [nzSpan]="24">
    <div class="colum-bgr">
      <nz-table #basicTable [nzData]="dataSet">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Last reply</th>
            <th>Status</th>
            <th>View detail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.address }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-col>
</nz-row>
